<div class="row" style="font-size: small;border: 1px solid #e0e0e0;padding: 5px;margin: 5px;border-radius: 0.25rem;">
    <div class="col-3">
        <center> 
            <img src="#" onerror="this.onError=null;this.src='files/images/user.png';" class="img-radius cb-img" width="150" height="150" style="object-fit: cover;">
            <br><label class="col-form-data cb-relationship"></label>
        </center>
    </div>
    <div class="col-9">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <label class="col-2 col-form-label">Code</label>
                        <label class="col-10 col-form-data cb-code"></label>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <label class="col-2 col-form-label">Name</label>
                        <label class="col-10 col-form-data cb-name"></label>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <label class="col-2 col-form-label">NIC</label>
                        <label class="col-10 col-form-data cb-nic" ></label>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <label class="col-2 col-form-label">Address</label>
                        <label class="col-10 col-form-data cb-address"></label>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <label class="col-2 col-form-label">DSCR</label>
                        <label class="col-10 col-form-data cb-dscr"></label>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <label class="col-2 col-form-label">Documents</label>
                        <div class="col-10" >
                            <div class="row cb-documents" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <fieldset>
            <legend>CRIB</legend>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <label class="col-3 col-form-label">NDIA</label>
                            <label class="col-9 col-form-data cb-ndia"></label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <label class="col-3 col-form-label">Deviations</label>
                            <label class="col-9 col-form-data cb-cribdeviations"></label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <label class="col-3 col-form-label">Notes</label>
                            <label class="col-9 col-form-data cb-cribnote"></label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <label class="col-3 col-form-label">Documents</label>
                            <div class="col-9" >
                                <div class="row cb-cribDocuments" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>