<div class="container-fluid">
    <div class="row m-1 file-el" style="background-color: #e5e5e5;border-radius: 10px;display: none">
        <div class="col-2 text-center justify-content-center align-self-center">
            <span class="pcoded-micon" style="font-size: 25px"><i class="feather icon-file"></i></span>
        </div>
        <div class="col-8 justify-content-center align-self-center">
            <a href="javascript:void(0)" style="font-size: 15px" class="file-name"></a>
        </div>
        <div class="col-2 text-center justify-content-center align-self-center">
            <span class="pcoded-micon file-cls" style="font-size: 20px"> <i class="feather icon-x-circle"></i></span>
        </div>
    </div>
</div>