.certification-d-row{height: 5%;}
.certification-d-col{width: 50%;}
.certification-d-row-2 {height: 40px;}
.certification-head-size {height: 17px;}
.div-background-purple-round{background-color: #ccccff;border-radius: 10px;}

